/* global */
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

/* Modo escuro */
.dark-mode {
  --background-main: var(--cor-10);
  --background-secondary: var(--cor-11);
  --background-highlight: var(--cor-p3);
  --text-main: var(--cor-3);
  --text-secondary: var(--cor-1);
  --text-muted: var(--cor-6);
}

.dark-mode .corpo,
.dark-mode #seguros,
.dark-mode .contato-formulario,
.dark-mode .form input,
.dark-mode .perguntas dl > div:nth-child(odd),
.dark-mode .orcamento-dados {
  background-color: var(--background-main);
}

.dark-mode .introducao-bg,
.dark-mode .tecnologia-bg,
.dark-mode .seguro-bg {
  box-shadow: inset 0 -120px var(--background-main);
}

.dark-mode .tecnologia-bg {
  box-shadow: inset 0 80px var(--background-main), inset 0 -80px var(--background-main);
}

.dark-mode .bicicletas-bg {
  background: linear-gradient(to right, var(--background-main) 30%, var(--background-secondary) 0%);
}

.dark-mode .depoimento-conteudo,
.dark-mode .depoimento,
.dark-mode .lojas-item {
  background-color: var(--background-highlight);
}

.dark-mode #contato,
.dark-mode #orcamento {
  background: var(--background-secondary);
}

.dark-mode #orcamento {
  background: linear-gradient(var(--background-secondary) 600px, var(--background-secondary) 0px);
}

.dark-mode .perguntas button,
.dark-mode .termos h2,
.dark-mode .orcamento-dados h2{
  color: var(--text-secondary);
}

.dark-mode .perguntas dd,
.dark-mode .termos p,
.dark-mode .orcamento-dados {
  color: var(--text-main);
}

.dark-mode .lojas-item h3,
.dark-mode .lojas-item p {
  color: var(--cor-9);
}

/* componentes */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../src/assets/img/icones/seta.svg");
  transition: transform 0.2s;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--cor-11);
}

.titulo {
  background: url("../src/assets/img/dec/top-right.svg") no-repeat top right 20px;
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
/* cores */
:root {
  --cor-0: #ffffff;
  --cor-1: #f7f7f7;
  --cor-2: #ededed;
  --cor-3: #dedede;
  --cor-4: #cccccc;
  --cor-5: #b2b2b2;
  --cor-6: #9c9c9c;
  --cor-7: #717171;
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111111;
  --cor-12: #000000;
  --cor-p1: #ffbb00;
  --cor-p2: #e4a30b;
  --cor-p3: #a66f00;
  --cor-p4: #664400;
  --cor-p5: #332200;


.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
}
/* formulario */
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 400 1rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.form .col-2 {
  grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--cor-1);
  border: 1px solid var(--cor-2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--cor-p1);
  background: var(--cor-0);
  box-shadow: 0 0 0 2px #fea;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
}
/* tipografia */
.font-1-xs {
  font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

.font-2-xs {
  font: 400 0.875rem/1.43 "Roboto", sans-serif;
}

.font-1-s {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.font-2-s {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.font-1-m,
.font-1-m-b {
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.font-1-m-b {
  font-weight: 600;
}

.font-2-m {
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
}

.font-1-l {
  font: 400 1.5rem/1.5 "Poppins", sans-serif;
}

.font-2-l,
.font-2-l-b {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
}

.font-2-l-b {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-1-xl {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}

.font-2-xl {
  font: 500 2rem/1.25 "Roboto", sans-serif;
}

.font-1-xxl {
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 3rem;
  }
  .font-2-l,
  .font-2-l-b {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 2rem;
  }
  .font-1-xl,
  .font-2-xl {
    font-size: 1.5rem;
  }
}

/* animicao */
.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js [data-anime] {
  opacity: 0;
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

