<main>
  <div class="titulo-bg">
    <div class="titulo container">
      <p class="font-2-l-b cor-5">Escolha a melhor para você</p>
      <h1 class="font-1-xxl cor-0">nossas bicicletas<span class="cor-p1">.</span></h1>
    </div>
  </div>

  <ng-container *ngFor="let bike of bikes">
    <div [class]="bike.class" class="bicicletas container">
      <div class="bicicletas-imagem">
        <img [src]="bike.imgSrc" [alt]="bike.altSrc">
        <span class="font-2-m cor-0">R$ {{bike.price}}</span>
      </div>
      <div class="bicicletas-conteudo">
        <h2 class="font-1-xl">{{bike.title}}</h2>
        <p class="font-2-s cor-8">{{bike.description}}</p>
        <ul class="font-1-m cor-8">
          <li *ngFor="let ic of bike.listIcons">
            <img [src]="ic.icon" [alt]="ic.alt"> {{ic.subtitle}}
          </li>
        </ul>
        <a class="botao seta" [routerLink]="bike.path">{{bike.button}}</a>
      </div>
    </div>
  </ng-container>
</main>
