<section class="depoimento" aria-label="Depoimento">
  <div>
    <img src="../../../assets/img/fotos/depoimento.jpg" width="1560" height="1360" alt="Pessoa pedalando uma bicicleta Bikcraft">
  </div>
  <div class="depoimento-conteudo">
    <blockquote class="font-1-xl cor-p5">
      <p>Pedalar sempre foi a minha paixão, o que o pessoal da Bikcraft fez foi intensificar o meu amor por esta atividade. Recomendo à todos que amo.</p>
    </blockquote>
    <span class="font-1-m-b cor-p4">Ana Júlia</span>
  </div>
</section>
