<article class="seguro-bike-bg">
  <div class="seguro-bike container">
    <div class="seguro-bike-imagem">
      <img src="../../../../assets/img/fotos/seguros.jpg" alt="Pessoa parada em cima de uma bicicleta.">
    </div>
    <div class="seguro-bike-conteudo">
      <h2 class="font-1-xxl cor-0">Pedale mais tranquilo com o nosso <span class="cor-p1">seguro.</span></h2>
      <p class="font-2-l cor-5">Inscreva-se em um dos planos do nosso seguro Bikcraft e aproveite diversos benefícios.</p>
      <a class="botao" routerLink="/insurance">Conheça Mais</a>
    </div>
  </div>
</article>
