<main class="introducao-bg">
  <div class="introducao container">
    <div class="introducao-conteudo">
      <h1 class="font-1-xxl cor-0 fadeInDown" data-anime="200">{{introContent.title}}<span class="cor-p1">.</span></h1>
      <p class="font-2-l cor-5 fadeInDown" data-anime="400">{{introContent.description}}</p>
      <a class="botao fadeInDown" data-anime="600" routerLink="/bikes">{{introContent.button}}</a>
    </div>
    <picture data-anime="800" class="fadeInDown">
      <source media="(max-width: 800px)" [srcset]="introContent.sourceSrc">
      <img [src]="introContent.imgSrc" width="1280" height="1600" alt="Bicicleta elétrica preta.">
    </picture>
  </div>
</main>
