<main class="titulo-bg">
  <div>
    <div class="titulo container">
      <p class="font-2-xl cor-5">R$ {{bike.price}}</p>
      <h1 class="font-1-xxl cor-0">{{bike.title}}<span class="cor-p1">.</span></h1>
    </div>
  </div>
  <div class="bicicleta container">
    <div class="bicicleta-imagens">
        <ng-container *ngFor="let img of bike.images">
          <img [src]="img" alt="Imagens de Bicicleta">
        </ng-container>
   </div>

    <div class="bicicleta-conteudo">
      <p class="font-2-l cor-5">{{bike.description}}</p>
      <div class="bicicleta-comprar">
        <a class="botao" routerLink="/budget">Comprar Agora</a>
        <span class="font-1-xs cor-6"> <img [src]="bike.iconStock" alt="Icone de Estoque">
          entrega em {{bike.deliver}} dias
        </span>
        <span class="font-1-xs cor-6">
          <img [src]="bike.iconDeliver" alt="Icone de Entrega">
          {{bike.stock}} em estoque
        </span>
      </div>

      <h2 class="font-1-xs cor-0">{{bike.titleInfo}}</h2>
      <ul class="bicicleta-informacoes" >
        <li *ngFor="let ic of bike.info">
          <img [src]="icons[ic.icon]" alt="Icones">
          <h3 class="font-1-m cor-0">{{ic.title}}</h3>
          <p class="font-2-xs cor-5">{{ic.description}}</p>
        </li>
      </ul>

      <h2 class="font-1-xs cor-0">{{bike.titleTechnical}}</h2>
      <ul class="bicicleta-ficha font-2-s cor-4">
        <li>Peso <span>{{bike.technicalSheet.weight}} kg</span></li>
        <li>Altura <span>{{bike.technicalSheet.height}} cm</span></li>
        <li>Largura <span>{{bike.technicalSheet.width}} cm</span></li>
        <li>Profundidade <span>{{bike.technicalSheet.depth}} cm</span></li>
        <li>Marchas <span>{{bike.technicalSheet.marches}}</span></li>
        <li>Roda <span>{{bike.technicalSheet.wheel}}</span></li>
      </ul>
    </div>
  </div>
</main>
<app-bikes-list></app-bikes-list>
<app-seguro-bike></app-seguro-bike>
